header{
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
}

.card{
  /* height: 800px; */
  width: 600px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 10px 30px -10px;
}

.card .foto{
  height: 400px;
  width: 100%;
  background-color: lightgray;
}

.card .content{
  height: 100px;
}